{% extends 'base.html.twig' %}

{% block title %}Create band{% endblock %}

{% block body %}

<div>
<h1>Create band</h1>
<form action="" method="post">
    <input type="text" name="name" placeholder="Band Name" required>
    <input type="submit" value="Create new Band">
</form>

</div>
{% endblock %}
