{% extends 'layout.html.twig' %}

{% block title %}Feed{% endblock %}

{% block body %}
<div>
    {% if band is null %}
        {% include 'feed/partials/feeds-listing.html.twig' %}
    {% else %}
        <p>
            <a href="{{ path('app_feed') }}">Back to all feeds</a>
        </p>
    {% endif %}

    <h1>{% if band %}Feed of {{ band.name }}{% else %}Mixed feed{% endif %}</h1>

    {% if posts is not empty %}
        {% include 'feed/partials/listing.html.twig' %}
    {% else %}
        {% include 'feed/partials/empty-listing.html.twig' %}
    {% endif %}

    <hr>

    {% include 'feed/partials/new-post.html.twig' %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}
