{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="/css/pico.fuchsia.min.css">
{% endblock %}

{% block content %}
    <header class="container-fluid">
        {% include 'partials/navigation.html.twig' %}
    </header>

    <main class="container">
        {% block body %}{% endblock %}
    </main>

    <footer class="container-fluid">
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}
        